[submodule "themes/vscode"]
	path = themes/vscode
	url = https://github.com/Dedsd/DarkBlue-Ice-for-vscode
[submodule "themes/atom"]
	path = themes/atom
	url = https://github.com/Dedsd/DarkBlue-Ice-for-atom
[submodule "themes/vim"]
	path = themes/vim
	url = https://github.com/Dedsd/DarkBlue-Ice-for-vim
[submodule "themes/firefox"]
	path = themes/firefox
	url = https://github.com/Dedsd/DarkBlue-Ice-for-firefox
[submodule "themes/telegram"]
	path = themes/telegram
	url = https://github.com/Dedsd/DarkBlue-Ice-for-telegram
[submodule "themes/betterdiscord"]
	path = themes/betterdiscord
	url = https://github.com/Dedsd/DarkBlue-Ice-for-betterdiscord
[submodule "themes/mailspring"]
	path = themes/mailspring
	url = https://github.com/Dedsd/DarkBlue-Ice-for-Mailspring
[submodule "themes/customdiscord"]
	path = themes/customdiscord
	url = https://github.com/Dedsd/DarkBlue-Ice-for-customdiscord.git
[submodule "themes/ulauncher"]
	path = themes/ulauncher
	url = https://github.com/Dedsd/DarkBlue-Ice-for-ulauncher
