[submodule "themes/vscode"]
	path = themes/vscode
	url = https://github.com/Dedsd/DarkBlue-Ice-for-vscode
[submodule "themes/atom"]
	path = themes/atom
	url = https://github.com/Dedsd/DarkBlue-Ice-for-atom
[submodule "themes/vim"]
	path = themes/vim
	url = https://github.com/Dedsd/DarkBlue-Ice-for-vim
[submodule "themes/firefox"]
	path = themes/firefox
	url = https://github.com/Dedsd/DarkBlue-Ice-for-firefox
